/* Board (grid wrapper) */
#board {
  margin: 32px auto 0 auto;
  border-top: 1px solid black;
  border-left: 1px solid black;

  display: grid;
  overflow: auto;

  user-select: none;
  touch-action: none;
}

#board.placing {
  animation: 1s infinite alternate-reverse inout;
}

.resources {
  padding: 6px 26px 0 26px;
}

@keyframes inout {
  from {
    box-shadow: #00cc0088 0 0 3px 2px;
  }

  to {
    box-shadow: #00cc0088 0 0 9px 6px;
  }
}

/* @media only screen and (max-width: 595px) {
  #board {
    margin: 32px 59px 0 auto;
  }
}

@media only screen and (max-width: 578px) {
  #board {
    margin: 32px 42px 0 auto;
  }
}

@media only screen and (max-width: 338px) {
  #board {
    margin: 32px auto 0 auto;
  }
} */
