/* Each grid field */
.field {
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: all 0.15s;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: relative;
  overflow: visible;
}

.field.disabled {
  background-color: rgba(0, 0, 0, 0.15);
}

.field:hover {
  background: #96969631;
}

.ui.label.field-label {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.coord {
  font-size: 0.8rem;
}
