.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

div.main-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 6px;
  padding-bottom: 64px;
  position: relative;
}

.info-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.info-box button {
  margin-right: 0;
}

.add {
  width: 0px;
  overflow: hidden;
  transition: all 0.2s;
  margin: 0 auto;
}

.add-valid {
  width: fit-content;
  height: fit-content;
}
