.main {
  width: 100vw;
}

#gameinfo {
  width: 100%;
  border-bottom: 1px solid black;
}

#info-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-box > * {
  margin: 10px 20px;
  padding: 10px;
}

#info-box > button {
  outline: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

#info-box > button:hover {
  border-color: black;
}

.add {
  width: 0px;
  overflow: hidden;
  transition: all 0.2s;
  margin: 0 auto;
}

.add-valid {
  width: fit-content;
  height: fit-content;
}
