.inventory-wrapper {
  right: 0;
  width: 100%;
}

.items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.items-wrapper p {
  text-align: center;
}

.inventory-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inventory-item > * {
  padding: 0 10px;
}
